@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500;9..144,600;9..144,700;9..144,800;9..144,900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
:root{

    /* Primary */

    --color1:hsl(7, 99%, 70%);
    --color2:hsl(51, 100%, 49%);
    --color3:hsl(167, 40%, 24%);
    --color4:hsl(198, 62%, 26%);
    --color5:hsl(168, 34%, 41%);

    /* Neutral */
    --color6:hsl(212, 27%, 19%);
    --color7:hsl(213, 9%, 39%);
    --color8:hsl(232, 10%, 55%);
    --color9:hsl(210, 4%, 67%);
    --color10:hsl(0, 0%, 100%);

    /* ## Typography */

    --fontpadrao1: 'Barlow', sans-serif;
    --fontpadrao2:'Fraunces', serif;;
}
body{
    font-size: 18px;
    height: 100vh;
   
}
.container__header{

    background-image: url('images/desktop/image-header.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    
}
.container__header__box1{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    font-family: var(--fontpadrao1);

}
.container__header_nav{
    display: flex;
}
.container__main__menu{
    list-style: none;
    display: flex;
    gap: 40px;
    
}
.container__main__menu > li{
    padding: 10px;
    
}
.container__main__menu li:nth-child(4){
    background-color:var(--color10);
    width: 125px;
    text-align: center;
    border-radius: 50px;
    font-family: var(--fontpadrao2);
    transition: 400ms;
}
.container__main__menu li:nth-child(4) > a{
    color: black;
    padding: 15px;
}
.container__main__menu li:nth-child(4):hover{
    cursor: pointer;
   background-color: #6fcfffbd;
   
    
}
.container__main__menu li:nth-child(4) a:hover{
   color: white;
   
    
}

.container__main__menu a{
    
    text-decoration: none;
    font-size: 15px;
    color:var(--color10);
}
.container__header__box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.container__header__title{
    letter-spacing: 8px;
    text-transform: uppercase;
    font-family: var(--fontpadrao2);
    font-size: 2.5em;
    font-weight: bolder;
    color: var(--color10);
    margin: 70px 0px;
    display: flex;
    justify-content: center;
   
  
}

/* Inicio do Main */

.container__main{
    border: 1px solid red;
    display: flex;
    flex-direction: column;

}
.container__main__box1{
    display: flex;
    height: 540px;
    width: 1348px;

}
.container__main__box2{
    display: flex;

}
.boximagem1{
    background-image: url('images/desktop/image-transform.jpg');
    background-size: cover;
      height: 539.5px;
      width: 122%;
      
  }
  .boximagem2{
      background-image: url('images/desktop/image-stand-out.jpg');
      background-size: cover;
        height: 539.5px;
        width: 121%;
  }

.mainbox__boxtext{
    padding: 100px;
    font-family: var(--fontpadrao2);
    width:100%;
    transition: 400ms;
   
   
}
.mainbox__boxtext > h2{
    font-size: 2.4em;
    color: var(--color6);
}
.mainbox__boxtext > p{
    font-size:19px;
    font-family: var(--fontpadrao1);
    margin: 40px 0px;
    color: var(--color8);
    line-height: 25px;

}
.mainbox__boxtext > a{
   position:relative;
   color: var(--color6);
   font-size: 1em;
   text-transform: uppercase;
   font-weight:900;
   text-decoration: none;
   letter-spacing: 1px;
}

/* Area de códigos line Underine 1*/

.main__box1__link::before{
    content: '';
    position: absolute;
    top: 15px;
    background-color:var(--color1);
    width: 150px;
    left: -5px;
    height: 10px;
    border-radius: 20px;
    opacity: 0.5;
    
}

.main__box1__link::after { 
    content: '';
    position: absolute;
    top: 15px;
    width: 150px;
     left: -5px;
    height: 12px;
    border-radius: 20px;
    transition: all 300ms;
}

.main__box1__link:hover::after{
    background-color: var(--color1);
    opacity: 1;
}


/* Area de códigos line Underine 2*/
.main__box2__link::before{
    content: '';
    position: absolute;
    top: 15px;
    background-color:var(--color2);
    width: 150px;
    left: -5px;
    height: 10px;
    border-radius: 20px;
    opacity: 0.5;

}
.main__box2__link:after{
    content: '';
    position: absolute;
    top: 15px;
    width: 150px;
    left: -5px;
    height: 12px;
    border-radius: 20px;
    transition: all 300ms;
}
.main__box2__link:hover::after{
    background-color: var(--color2);
    opacity: 1;

}

.container__main__box3{
    display: flex;
    height: 540px;
    width: 1348px;
    text-align: center;

    
}
.settingstext{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    

}
.boximagem3{
   
    background-image: url('images/desktop/image-graphic-design.jpg');
    background-size: cover;
      height: 539.5px;
      width: 122%;
}
.boximagem4{
    
    background-image: url('images/desktop/image-photography.jpg');
    background-size: cover;
      height: 539.5px;
      width: 122%;
}

.boximagem3 > h3{
    font-family: var(--fontpadrao2);
    color: var(--color3);
    font-size: 1.5em;
    font-weight:900;
    text-transform: capitalize;
}
.boximagem3 > p{
    
    font-family: var(--fontpadrao1);
    color: var(--color3);
    margin: 40px 0px;
    width: 380px;
    line-height: 25px;
    font-weight:600 ;


}
.boximagem4 > h3{
    font-family: var(--fontpadrao2);
    color: var(--color4);
    font-size: 1.5em;
    font-weight:900;
    text-transform: capitalize;
    
}
.boximagem4 > p{
    
    font-family: var(--fontpadrao1);
    color: var(--color4);
    margin: 40px 0px;
    width: 380px;
    line-height: 25px;
    font-weight:600 ;


}

.container__main__box4{
   border: 1px solid black;
   display: flex;
   flex-direction: column;
   align-items: center;
}










@media screen and (max-width:375px) {
   
    .container__header_nav{
        display: none;
        margin-left: -197px;
        
    }   
    .container__header_nav.active{
        display:block;
      
    } 
    .container__main__menu{
        position: absolute;
        background-color: var(--color10);
        left: 30px;
        top:70px;
        width:85%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
        
         
        }
        .container__main__menu li:nth-child(4){
            background-color:var(--color2);
            width: 125px;
            text-align: center;
            border-radius: 50px;
            font-family: var(--fontpadrao2);
            transition: 400ms;
        }
        .container__main__menu a{
    
            text-decoration: none;
            font-size: 15px;
            color:var(--color9);
            text-transform: lowercase;
}
.test{
    display: block;
    width: 20px;
    border-top: var(--color10) 2px solid;
    transition: 200ms;

    
}
.test::after, .test::before{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    /* Variavel se mudar a cor do menu Hamburger o affte e o Before tamb mudara */
    background-color:var(--color10); 
    margin-top: 5px;
    transition: 400ms;
    position: relative;
   
}
.test.active{
    border-top: transparent;
}
.test.active::before{
    transform: rotate(45deg);
}
.test.active::after{
    transform: rotate(-45deg);
    top: -7px;
    
}
}