@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
:root{

    /* Primary */

    --color1:hsl(7, 99%, 70%);
    --color2:hsl(51, 100%, 49%);
    --color3:hsl(167, 40%, 24%);
    --color4:hsl(198, 62%, 26%);
    --color5:hsl(168, 34%, 41%);

    /* Neutral */
    --color6:hsl(212, 27%, 19%);
    --color7:hsl(213, 9%, 39%);
    --color8:hsl(232, 10%, 55%);
    --color9:hsl(210, 4%, 67%);
    --color10:hsl(0, 0%, 100%);

    /* ## Typography */

    --fontpadrao1: 'Barlow', sans-serif;
    --fontpadrao2:'Fraunces', serif;;
}
body{
    font-size: 18px;
    height: 100vh;
   
}
.container__header{
    border: 2px solid red;
    background-image: url('images/desktop/image-header.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
}
.container__header_nav{
    border: 1px solid black;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    font-family: var(--fontpadrao1);
}
.container__main__menu{
    list-style: none;
    display: flex;
    gap: 30px;
    
}
.container__main__menu a{
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    color:var(--color10) ;
 
}
